version: "3.8"
services:
     auth-service:
          build: .
          container_name: auth-service
          ports:
               - "9002:9002"
          depends_on:
               - auth-database
          networks:
               - savvy-global-network
eruka:
     client:
     service-url:
          defaultZone: http://eureka-server:8761/eureka

          auth-database:
               image: postgres:15
               container_name: grade-database
               environment:
                    POSTGRES_DB: grade-database
                    POSTGRES_USER: gradeuser
                    POSTGRES_PASSWORD: 12345
               ports:
                    - "5431:5431"
               volumes:
                    - auth_db_data:/var/lib/postgresql/data
               networks:
                    - savvy-global-network
networks:
     savvy-global-network:
          external: true
          name: savvy-global-network
